h1{
    color:#4d454f;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #faebd7;
    border-radius: 20px;
    border:5px solid #faebd7; 
    
    
}
   body{
 background-image: linear-gradient(to right, #FF0000, #FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#9400D3);
   }