{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS DOS H */

h1{
    color:#c6bac9;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, #FF0000, #FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#9400D3);
    border-radius: 10px;
     width: 100%;
    margin: 10 auto;
    padding: 0 40px;

}

h3{
    color:#4B0082;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

   body{
  background-color: rgb(253, 252, 251);
   }

img{
    width: 100px;
    display:block;
    margin: 0 auto;
    
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
.navbar{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
iframe{
    border-radius: 40px;
    width: 80%;
}